<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thank You For Your Order</title>
</head>

<body style="text-align: center;margin: 0; padding: 0;background: #fefaeb;">
    <header style="background: #fefaeb;">
        <div style="padding-top: 35px">
            <img src="/ecommerce-admin/public/img/logo_page-0002.jpg" alt="LOGO" />
        </div>
    </header>
    <content>
        <div style="background: #fff;margin: 40px 25px 0; padding: 40px 50px">
            <p style="font-size: 16px;font-weight: bold; color: #252525; margin: 0">Hi: <%= name%>!</p>
            <p style="font-size: 14px; color: #252525;margin: 0;padding: 20px">
                <span style="max-width: 400px;display:inline-block">
                   Thank you so much for your order. We think you received items. We hope you happy with it.
                    </strong></span>   
            </p>
            <p style="font-size: 14px; color: #252525; margin: 0;">If you’d like to get in touch, email us at <span style="font-weight: bold">cdio@limupa.com</span></p>
        </div>
    </content>
    <footer style="padding: 40px 0 30px;">
        <span style="display: inline-block;margin-right: 7px;">
            <img src="https://zestteedev.blob.core.windows.net/zestteedev/ig-icon-f5ef379e7b18f0b0.png" alt="IG" />
        </span>
        <span style="display: inline-block;">
            <img src="https://zestteedev.blob.core.windows.net/zestteedev/fb-icon-c7f97d8e7ab11225.png" alt="FB" />
        </span>
        <p style="font-size: 15px; font-weight: 600">&copy; 2019 Limupa. All rights reserved</p>
    </footer>
</body>

</html>