.fix-margin {
  margin: auto;
  padding-top: 1%;
}

.fix-create {
  margin-left: 77%;
}
.fix-action {
  font-size: 20px;
  margin: 5px;
}
.fix-create-action {
  position: absolute;
  top: 8px;
  right: 15px;
}
